<template>
    <div if:true={currentPage.accountsDatatable}>
        <my-account-data-table onpageswitch={switchPage}></my-account-data-table>
    </div>
    <div if:true={currentPage.createAccount}>
        <my-create-account onpageswitch={switchPage}></my-create-account>
    </div>
</template>
