<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_10-of-12 slds-p-around_medium">
            <div class="slds-box slds-box_x-small slds-theme_default slds-text-heading_small slds-text-align_center">
                Account Details
            </div>
        </div>
        <div class="slds-col slds-size_2-of-12 slds-p-around_medium">
            <div class="slds-p-top_xx-small slds-align_absolute-center">
                <button class="slds-button slds-button_brand" onclick={createAccount}>Create Account</button>
            </div>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-p-around_medium">
            <div class="slds-box slds-box_x-small slds-theme_default">
                <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered"
                    aria-label="Example table of Opportunities with vertical borders">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Account Name">Account Name</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Account Number">Account Number</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Phone">Phone</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Rating">Rating</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title="Website">Website</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={accounts} for:item="account" for:index="index">
                            <tr key={account.Id} data-index={index} class="slds-hint-parent">
                                <td>
                                    <div class="slds-truncate" title={account.Name}>{account.Name}</div>
                                </td>
                                <td>
                                    <div class="slds-truncate" title={account.AccountNumber}>{account.AccountNumber}</div>
                                </td>
                                <td>
                                    <div class="slds-truncate" title={account.Phone}>{account.Phone}</div>
                                </td>
                                <td>
                                    <div class="slds-truncate" title={account.Rating}>{account.Rating}</div>
                                </td>
                                <td>
                                    <div class="slds-truncate" title={account.Website}>{account.Website}</div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>