<template>
    <div class="slds-card slds-m-around_xx-small slds-p-around_medium slds-align_absolute-center">
        Fill Account Details
    </div>
        <div class="slds-card slds-m-around_xx-small">
            <template if:true={showSpinner}>
                <div class="demo-only demo-only_viewport" style="height:6rem;position:relative">
                    <div role="status" class="slds-spinner slds-spinner_medium">
                      <span class="slds-assistive-text">Loading</span>
                      <div class="slds-spinner__dot-a"></div>
                      <div class="slds-spinner__dot-b"></div>
                    </div>
                  </div>
            </template>
            <template if:false={showSpinner}>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_6-of-12 slds-p-around_medium">
                        <div class="slds-form-element ">
                            <label for="input-151" class="slds-form-element__label slds-no-flex">
                                <abbr title="required" class="slds-required">*</abbr>Account Name
                            </label>
                            <div class="slds-form-element__control slds-grow"><input type="text" id="input-151"
                                    aria-invalid="false" maxlength="255" name="Name" required="" class="slds-input"
                                    oninput={handleAccountName}></div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_6-of-12 slds-p-around_medium">
                        <div class="slds-form-element ">
                            <label class="slds-form-element__label" for="combobox-id-1">Rating</label>
                            <div class="slds-form-element__control">
                                <div class="slds-combobox_container">
                                    <div class={showRatingPicklist} aria-expanded="false" aria-haspopup="listbox"
                                        role="combobox">
                                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                                            role="none" onclick={handleRatingPicklist}>
                                            <!-- onclick={handleRatingPicklist} -->
                                            <input type="text" class="slds-input slds-combobox__input" id="combobox-id-1"
                                                aria-controls="listbox-id-1" autocomplete="off" role="textbox"
                                                placeholder="Select an Option…" value={ratingPicklistValue} />
                                        </div>
                                        <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-3 slds-dropdown_fluid"
                                            role="listbox">
                                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                                <template for:each={ratingOptions} for:item="ratingOption">
                                                    <li key={ratingOption.value} data-label={ratingOption.label}
                                                        role="presentation" class="slds-listbox__item"
                                                        onclick={handleRatingValue}>
                                                        <div id={ratingOption.value}
                                                            class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                                            role="option">
                                                            <span class="slds-media__figure slds-listbox__option-icon"></span>
                                                            <span class="slds-media__body">
                                                                <span class="slds-truncate"
                                                                    title={ratingOption.label}>{ratingOption.label}</span>
                                                            </span>
                                                        </div>
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_6-of-12 slds-p-around_medium">
                        <div data-input-element-id="input-field" class="slds-form-element slds-form-element_stacked">
                            <label for="input-153" class="slds-form-element__label slds-no-flex">Phone</label>
                            <div class="slds-form-element__control slds-grow"><input type="text" id="input-153"
                                    aria-invalid="false" maxlength="40" name="Phone" class="slds-input" oninput={handleAccountPhone}></div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_6-of-12 slds-p-around_medium">
                        <div class="slds-form-element slds-form-element_stacked">
                            <label for="input-162" class="slds-form-element__label slds-no-flex">Account
                                Number</label>
                            <div class="slds-form-element__control slds-grow"><input type="text" id="input-162"
                                    aria-invalid="false" maxlength="40" name="AccountNumber" oninput={handleAccountNumnber} class="slds-input"></div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_6-of-12 slds-p-around_medium">
                        <div data-input-element-id="input-field" class="slds-form-element slds-form-element_stacked">
                            <label for="input-164" class="slds-form-element__label slds-no-flex">Website
                            </label>
                            <div class="slds-form-element__control slds-grow"><input type="text" id="input-164"
                                    aria-invalid="false" maxlength="255" name="Website" oninput={handleAccountWebsite} class="slds-input">
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_6-of-12 slds-p-around_medium">
                        <div class="slds-float_right slds-p-top_large">
                            <button class="slds-button slds-button_brand" onclick={handleSaveAccount}>Save</button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
</template>